.title {
  color: #F7F7F7;
  font-family: calibri;
  text-align: center;
  font-size: 2rem;
  background-color: #1E3FE6;
  font-style: normal;
  border: 3px solid black;
  background-size: contain;
  width: 428px;
  height: 80px;
  padding: 2px;
  border-radius: 25px;
  border-width: thick;
  margin-left: auto;
  margin-right: auto;
}

.targcenter {
  position:fixed;
  margin: 0 50%;
  left: -240px;
  right: 0;
  top: 190px;
  bottom: 0;
  height: 475px;
  width: 475px;
}

.textrighthalf1 {
  position:fixed;
  margin: 0 25%;
  left: -5;
  right: 0;
  top: 100px;
  bottom: 0;
  font-family: calibri;
  font-size: .9rem;
}

.textrighthalf2 {
  position: fixed;
  margin: 0 25%;
  left: -5;
  right: 0;
  top: 520px;
  bottom: 0;
  font-family: calibri;
  font-size: .9rem;
}

.textlefthalf1 {
  position:fixed;
  margin: 0 25%;
  left: 0;
  right: 0;
  top: 300px;
  bottom: 0;
  font-family: calibri;
  font-size: .9rem;
}

.instructorpic1 {
  position:fixed;
  margin: 0 50%;
  left: -240px;
  right: 0;
  top: 100px;
  bottom: 0;
  height: 180px;
  width: 220px;
}

.instructorpic2 {
  position:fixed;
  margin: 0 50%;
  left: 20px;
  right: 0;
  top: 300px;
  bottom: 0;
  height: 180px;
  width: 220px;
}

.instructorpic3 {
  position:fixed;
  margin: 0 50%;
  left: -240px;
  right: 0;
  top: 520px;
  bottom: 0;
  height: 180px;
  width: 220px;
}

.rotate235 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px;
  height:30px;
  position: relative;
  left: 105px;
  top: 0px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.rotate315 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px;
  height:30px;
  position: relative;
  left: 80px;
  top: 0px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.rotate45 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px;
  height:32px;
  position: relative;
  left: 100px;
  top: 20;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate451 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px;
  height:32px;
  position: relative;
  left: 120px;
  top: 20;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate0 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px;
  height:32px;
  position: relative;
  left: 70px;
  top: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate180 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px;
  height:32px;
  position: relative;
  left: 150px;
  top: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate0 {
  background:  no-repeat;
  border: 3px solid red;
  border-radius: 15px;
  width:180px; height:32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.textcenter {
  position:fixed;
  margin: 0 25%;
  left: -50;
  right: 0;
  top: 120px;
  bottom: 0;
  font-family: calibri;
  font-size: .9rem;
}

.poltextcenter {
  position:fixed;
  margin: 0 27%;
  left: -5;
  right: 0;
  top: 340px;
  bottom: 0;
  font-family: calibri;
  font-size: .9rem;
}

.headings {
  color: #F7F7F7;
  font-family: calibri;
  text-align: center;
  font-size: 2rem;
  background-color: #1E3FE6;
  font-style: normal;
  border: 3px solid black;
  background-size: contain;
  width: 428px;
  height: 45px;
  padding: 2px;
  border-radius: 25px;
  border-width: thick;
  margin-left: auto;
  margin-right: auto;
}

.bod {
  background-color: #EB8D13;
  background-size: auto;
}

.circle1 {
  background-color:blue;
  width:400px;
  height:400px;
  position: relative;
  border: 3px solid black;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #fff ;
  line-height: 100px;
  text-align: center;
  background: #1E3FE6;
}

.circle2 {
  font-size:20px;
  color: #fff ;
  line-height: 100px;
  text-align: center;
  background: #EDE511;
  top: 18%;
  left:18%;
  width:62%;
  height:62%;
  position: absolute;
  border: 3px solid black;
  border-radius: 50%;
}

.circle3 {
  background-color:yellow;
  top: 28%;
  left: 28%;
  width: 40%;
  height: 40%;
  position: absolute;
  border: 3px solid black;
  border-radius: 50%;
  font-size:20px;
  color: #fff ;
  text-align: center;
  background: #ED1132;
}

.footerblock {
  font-style: normal;
  font-family: arial;
  background-color: #EB8D13;
  background-position: center;
  color: white;
  width: 50%;
  margin: 0 18rem;
}

.flex-item1 {
  font-style: normal;
  font-family: arial;
  margin: 12rem;
}

.centerarrows {
  left: 20%;
  position: absolute;
}

#menu {
  width: 550px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
  background-color: #8AD9FF;
  border-radius: 8px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  position: fixed;
  left: 185px;
  width: 650px;
  height: 700px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  position: fixed;
}

.classimg {
  position: relative;
  margin: 10px;
  height: 120px;
  width: 150px;
  text-align: center;
}

.flex-item1 {
  width: 165px;
  height: 650px;
  margin: 10px;
}

.main-content {
  font-style: normal;
  font-family: arial;
  font-size: 10px;
  color: black;
}

.main-content2 {
  font-style: normal;
  font-family: arial;
  font-size: 1rem;
  color: black;
}

.regstyle {
  font-style: normal;
  font-family: arial;
  font-size: .85rem;
  color: white;
}

.flex-item2 {
  position: fixed;
  width: 320px;
  height: 650px;
  margin: 10px;
}

.flex-item3 {
  position: relative;
  width: 165px;
  height: 650px;
  margin: 10px;
}

.flex-item11 {
  position: relative;
  width: 100px;
  height: 650px;
  margin: 5px;
}
